<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-show="isLoggedIn()">
	<div class="container">
		<h2>用户管理</h2>
	</div>
</header>

<div class="container" ng-show="isLoggedIn()">

	<div class="jumbotron">

		<div class="list-actions row">
			<div class="col-md-3 text-left">
				<div class="input-group">
				
					<input type="text" name="search" class="form-control" ng-model="searchText" placeholder="搜索...">
					
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="searchText = '';">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</span>
					
				</div>
			</div>
			<div class="col-md-9 text-right">
				<a href="" ng-click="edit()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> 添加</a>
			</div>
		</div>

		<ul class="list-group">

			<li class="list-group-item" ng-repeat="user in users | filter:searchText">
				<strong>{{user.username}}</strong><br>
				<span class="text-muted">{{user.name}}</span>
				<span class="pull-right">
					<a ng-click="edit(user)" style="padding-right: 15px;" class="pointer"><span class="glyphicon glyphicon-pencil"></span></a>
					<a class="pointer" ng-confirm-message="{{user.username}}将会被删除！" ng-confirm-click="delete(user)"><span class="glyphicon glyphicon-trash"></span></a>
				</span>
			</li>

		</ul>

	</div>

</div>