<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-show="isLoggedIn()">
	<div class="container">
		<h2>修改密码</h2>
	</div>
</header>

<div class="container" ng-show="isLoggedIn()">

	<div class="jumbotron">

		<div class="row">
			<div class="col-sm-12">
				<form class="form" name="form" ng-submit="changePassword(form)" novalidate>

					<div class="alert alert-success" ng-show="message"><span class="glyphicon glyphicon-ok-sign"></span> {{ message }}</div>

					<div class="form-group" ng-class="{ 'has-error' : form.password.$error.mongoose }">
						<label>旧密码</label>
						<input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
						<p  style="font-size:14px;"class="help-block" ng-show="form.password.$error.mongoose">{{ errors.other }}</p>
					</div>

					<div class="form-group required" ng-class="{ 'has-error' : !user._id && form.newPassword.$invalid && !form.newPassword.$pristine }">
						<label>新密码</label>
						<input type="password" ng-minlength="3" name="newPassword" class="form-control" ng-model="user.newPassword" required>
						<p style="font-size:14px;" ng-show="!user._id && form.newPassword.$invalid && !form.newPassword.$pristine" class="help-block">密码必须至少为3位数</p>
					</div>

					<button class="btn btn-lg btn-primary" type="submit" ng-disabled="form.$invalid">Save changes</button>

				</form>
			</div>
		</div>

	</div>

</div>