<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/message/message.html'"></div>

<header class="hero-unit" id="banner">
	<div class="container">
		<img src="assets/images/pug.jpg">
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>用户登录</h1>
		</div>
		<div class="col-sm-12">
			<form class="form" name="form" ng-submit="login(form)" novalidate>

				<div class="form-group">
					<label>账号</label>

					<input type="text" name="username" class="form-control" ng-model="user.username" required>
				</div>

				<div class="form-group">
					<label>密码</label>

					<input type="password" name="password" class="form-control" ng-model="user.password" required>
				</div>

				<div class="form-group has-error">
					<p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && submitted">
						 请输入您的账号和密码.
					</p>
					<p class="help-block" ng-show="form.username.$error.username && submitted">
						 请输入您的账号
					</p>

					<p class="help-block">{{ errors.other }}</p>
				</div>

				<div>
					<button class="btn btn-primary btn-lg btn-login" type="submit">
						登录
					</button>
				</div>

			</form>
		</div>
	</div>
	<hr>
</div>
