<div class="modal-header confirm-header">
	<button type="button" class="close" data-ng-click="no()" data-aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{title}}</h4>
</div>

<div class="modal-body">

	<div class="alert alert-warning">
		<span class="glyphicon glyphicon-warning-sign"></span> {{message}}
	</div>

	<div class="text-right">

		<button type="button" class="btn btn-default" data-ng-click="no()">取消</button>
		<button type="button" class="btn btn-primary" data-ng-click="yes()">确认</button>

	</div>

</div>

